:root {
  --scrollHeight: 10;
  --font-color: 75, 75, 75;
  --accent: 247, 127, 0;
  --links: 17, 171, 128;
  --bg: 247, 247, 247;
  --scrollPos: 0;
}

* {
  scrollbar-width: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgb(var(--links));
}
li {
  list-style-type: none;
}
::-webkit-scrollbar {
  width: 0;
}

body {
  background-color: rgb(var(--bg));
  height: 100vh;
  color: rgb(var(--font-color));
}
h1 {
  color: rgb(var(--accent));
}

header {
  height: 14%;
  border-bottom: 3px solid rgb(var(--font-color), 0.1);
  nav {
    height: 100%;
    width: 88%;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    ul {
      display: flex;
      width: 100%;
      justify-content: end;
      align-items: center;
      li {
        margin-right: 12.5%;
        list-style-type: none;
        a {
          text-decoration: none;
          color: rgb(var(--font-color));
        }
      }
      .active {
        color: rgb(var(--accent));
      }
      li:first-child {
        margin-right: auto;
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
}

main {
  height: 86%;
}

#threed-container {
  width: 70%;
  height: 60%;
  outline: 3px solid black;
  margin: auto;
  margin-top: 100%;
}

#bio-main {
  display: flex;
  justify-content: space-around;
}

#bio-pic {
  height: 100%;
  width: 40%;
  background-color: rgba(var(--accent), 1);
  box-shadow: 5px 0px 5px rgba(var(--font-color), 0.2);
}

#bio-main {
  p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 2em;
  }
  #bio-container {
    width: 60%;
    overflow: scroll;
  }
  section {
    &:last-of-type {
      margin-bottom: 5em;
    }
    margin: 5rem auto 2rem 8rem;
    width: 70%;
    h1 {
      font-size: 2.2vw;
      margin-bottom: 2rem;
    }
    h2 {
      font-size: 1.5vw;
      font-weight: 300;
      color: rgb(var(--accent));
    }
    .year {
      font-size: 0.9em;
    }
    .description {
      margin-bottom: 1em;
    }
    .skills-list {
      position: relative;
      display: grid;
      grid-gap: 2em;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      li {
        font-size: 1.1em;
        position: relative;
      }
      .percentage {
        position: relative;
        --skill-percentage: 0%;
        height: 1em;
        width: 100%;
        border: 1px solid rgba(var(--font-color), 0.1);
        transition: background-image 1s;
        &:before {
          transition: width 2s ease;
          position: absolute;
          content: "";
          height: 100%;
          width: var(--skill-percentage);
          background-color: rgb(var(--accent));
        }
      }
      li:last-child {
        color: rgba(var(--font-color), 0.7);
        .teamwork {
          display: flex;
        }
        .teamwork-points {
          font-size: 1em;
          margin: 1em 2em 0 1em;
          color: rgb(var(--font-color));
        }
      }
    }
  }
}
.education-list li {
  position: relative;
  margin-bottom: 2em;
  p:last-child {
    font-size: 1em;
  }
}
.bio-text {
  width: 70%;
  margin-top: 2rem;
}

#contact-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "top ."
    "left-one right-one"
    "left-two right-two"
    "left-three right-three";
  grid-column-gap: 1rem;
  height: 75%;
  margin-left: -12rem;
  margin-top: 3rem;
  font-size: 2.3vw;
  h1 {
    color: rgb(var(--font-color));
  }
}

#top {
  grid-area: top;
}

#left-one {
  grid-area: left-one;
}
#left-two {
  grid-area: left-two;
}
#left-three {
  grid-area: left-three;
}
#right-one {
  grid-area: right-one;
}
#right-two {
  grid-area: right-two;
}
#right-three {
  grid-area: right-three;
}

.left-contact-text {
  text-align: right;
}

#projects-header {
  height: 14%;
  background-color: transparent;
}

#projects-main {
  scroll-snap-type: y mandatory;
  overflow: scroll;
}

#projects-main.noscroll {
  overflow: hidden;
}

.project {
  padding-top: 1em;
  position: relative;
  height: 86vh;
  scroll-snap-align: center;
  transform: scale(0.9);
  transition: transform 1s, box-shadow 1s, border-radius 1s;
  background-color: rgb(var(--bg));
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgba(12, 12, 12, 0.2);
  border-top: 3px solid rgb(var(--font-color), 0.01);
  border-left: 3px solid rgb(var(--font-color), 0.01);
  &.active {
    transform: scale(1);
    border-radius: 0px;
    box-shadow: 30px 30px 7px rgba(12, 12, 12, 0.1);
    overflow-y: scroll;
    border: none;
  }
}
.content {
  transform: translate(
    calc(var(--scrollPos) * -1px),
    calc(var(--scrollPos) * 1px)
  );
  display: flex;
  height: 90%;
  width: 100vw;
}

.front-section-container,
.section-container {
  display: flex;
  width: 80vw;
  flex-shrink: 0;
  align-items: center;
  &:first-child {
    width: 100vw;
  }
}
.section-container {
  margin-left: 5rem;
}

.website-preview {
  width: 50%;
  height: 60%;
  background-color: salmon;
}

.project-text {
  width: 30%;
  height: 80%;
  color: rgb(var(--font-color));
  h1 {
    font-size: 3.5vw;
    font-weight: 500;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 2em;
  }
}

.project-summary {
  margin-left: 14%;
}

.content-container {
  height: auto;
  width: 45%;
  p {
    margin-top: auto;
    width: 80%;
  }
}

.section-container:nth-child(even) {
  .content-container {
    margin-top: auto;
  }
  .content-image {
    margin-bottom: auto;
  }
}

.section-container:nth-child(odd) {
  .content-container {
    margin-bottom: auto;
  }
  .content-image {
    margin-top: auto;
  }
}

.project-scroll {
  height: calc(var(--scrollHeight) * 1px);
  width: 2rem;
  position: absolute;
}

.explore-button {
  transform: translateY(calc(var(--scrollPos) * 1px));
  z-index: 1;
  position: absolute;
  right: 5%;
  cursor: pointer;
  .explore-line {
    z-index: 10;
    background-color: rgb(var(--font-color));
  }
  &:hover {
    color: rgb(var(--accent));
    .explore-line {
      background-color: rgb(var(--accent));
    }
  }
}

.explore-line {
  position: absolute;
  height: 2px;
  width: 1.5rem;
  background-color: rgb(var(--links));
  margin: 0.5em auto auto 0.5em;
}

.website-button {
  transition: transform 0.5s;
  margin: auto 0 auto 0;
  padding-right: 2.5rem;
  flex-shrink: 0;
  width: auto;
  &:hover {
    transform: scale(1.05);
    .explore-line {
      transform: scale(1.05);
    }
  }
}

.website-preview {
  background-size: cover;
  background-repeat: no-repeat;
}

.content-image {
  width: 30vw;
  height: 60%;
  background-size: contain;
  background-repeat: no-repeat;
}

#electricity-project {
  .website-preview {
    background-image: url(/static/assets/website-previews/electricity.gif);
  }
  .first {
    width: 60vw;
    .content-image {
      background-image: url(/static/assets/images/bulb.svg);
      transform: translateX(-30%);
    }
    .content-container {
      width: 60%;
    }
  }
  .second {
    width: 70vw;
    .content-image {
      flex-shrink: 0;
      background-image: url(/static/assets/images/cityscape.svg);
      width: 40vw;
      transform: translateX(-50%);
      height: 40%;
    }
    .content-container {
      flex-shrink: 0;
      width: 60%;
    }
  }
  .third .content-image {
    background-image: url(/static/assets/images/activity-diagram.JPG);
    flex-shrink: 0;
    width: 50%;
    height: 70%;
  }
}

#hogwarts-project {
  .website-preview {
    background-image: url(/static/assets/website-previews/hogwarts.gif);
  }
  .first {
    width: 60vw;
    .content-image {
      background-image: url(/static/assets/images/hogwarts-json.png);
      transform: translateX(-30%);
    }
    .content-container {
      width: 60%;
    }
  }
  .second {
    width: 70vw;
    .content-image {
      flex-shrink: 0;
      background-image: url(/static/assets/images/harry-modal.png);
      width: 40vw;
      transform: translateX(-50%);
      height: 40%;
    }
    .content-container {
      flex-shrink: 0;
      width: 60%;
    }
  }
  .third .content-image {
    background-image: url(/static/assets/images/hogwarts-color.png);
    transform: translateX(-50%);
  }
}

#human-project {
  .website-preview {
    background-image: url(/static/assets/website-previews/human.gif);
  }
  .first {
    width: 60vw;
    .content-image {
      background-image: url(/static/assets/images/human-overview.png);
      transform: translateX(-40%);
      width: 60%;
      flex-shrink: 0;
    }
    .content-container {
      width: 60%;
      flex-shrink: 0;
    }
  }
  .second {
    width: 70vw;
    .content-image {
      flex-shrink: 0;
      background-image: url(/static/assets/images/human-columns.gif);
      width: 50%;
      transform: translateX(-50%);
      height: 50%;
    }
    .content-container {
      flex-shrink: 0;
      width: 60%;
    }
  }
  .third {
    width: 40vw;
    .content-container {
      width: 100%;
      margin-bottom: auto;
      margin-top: auto;
    }
  }
}

#musil-project {
  .website-preview {
    background-image: url(/static/assets/website-previews/musil.gif);
  }
  .first {
    width: 60vw;
    .content-image {
      background-image: url(/static/assets/images/musil-scroll.gif);
      transform: translateX(-40%);
      width: 60%;
      flex-shrink: 0;
    }
    .content-container {
      width: 60%;
      flex-shrink: 0;
    }
  }
  .second {
    width: 50vw;
    .content-container {
      width: 100%;
      margin-top: auto;
    }
  }
  .third {
    .content-image {
      flex-shrink: 0;
      background-image: url(/static/assets/images/trunk-test.png);
      height: 70%;
    }
    .content-container {
      flex-shrink: 0;
      width: 50%;
    }
  }
}
